.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.headline {
  font-size: 9rem;
  text-transform: uppercase;
  color: white;
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .headline {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* sidebar */
@media (min-width: 640px) {
  .sidebar {
    justify-content: start;
    width: 300px;
    left: 10px;
    overflow-x: hidden;
    padding: 5px 10px 0 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.withsidebar {
  margin-top: 20px;
  margin-left: 400px; /* Same width as the sidebar + left position in px */
  margin-right: 10px;
  margin-bottom: 100px;
  /* font-size: 28px; Increased text to enable scrolling */
  padding: 0px 10px 0 10px;
}

/* ---------------------------------------------------- */
/* profile */

/* Main Section */
.main-and-sidebar-wrapper {
  display: flex;
}

.main-profile {
  /* text-align: center; */
  /* margin-right: 60px; */
  /* flex: 3; */
}

@media (max-width: 600px) {
  .main-and-sidebar-wrapper {
    flex-direction: column;
  }
  .main {
    margin-right: 0;
    margin-bottom: 60px;
  }
}
